/*-- scss:defaults --*/
$primary:     #c20e1a;
$light:       #c5b568;
$dark:        #000;

$sidebar-bg:  $primary;
$sidebar-title-body-color: $light;
$sidebar-logo-max-width: 50%;

/*-- scss:rules --*/